<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ .headTitle }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="{{ .headKeywords }}" />
    <meta name="description" content="{{ .headDescription }}" />
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css?v=20210318">
</head>
<body class="layout">
    {{ template "header" . }}

    <div class="layout-container">
        {{ template "content" . }}
        <!--<div class="layout-container-information">right</div>-->
    </div>

    {{ template "footer" .}}
</body>
</html>