{{ define "footer" }}

<div class="layout-footer">
    <p>{{ .footerCopyright }}
        {{ if .footerIcp }}
            <a href="http://beian.miit.gov.cn/" target="_blank"> | 浙ICP备2021011629号</a>
        {{ end}}
    </p>
</div>

{{ end }}