{{ define "header" }}

<div class="layout-header">
    <div class="header-box">
        <a class="logo" href="/">
            <img src="/static/images/logo.png" alt="">
            <h1>Share</h1>
        </a>
        <div class="topic">
            {{ range .topics }}
                <div><a href="{{ .Url }}">{{ .Title }}</a></div>
            {{ end }}
        </div>
        <!--<div class="avatar"></div>-->
    </div>
</div>

{{ end }}