.pagination-container .pagination{
    white-space:nowrap;
    padding:2px 5px;
    color:#2d2f33;
    font-weight:700;
    text-align: center;
}
.pagination-container .pagination::after,.pagination-container .pagination::before{
    display:table;
    content:""
}
.pagination-container .pagination::after{
    clear:both
}
.pagination-container .pagination button,.pagination-container .pagination span:not([class*=suffix]){
    display:inline-block;
    font-size:13px;
    min-width:35.5px;
    height:28px;
    line-height:28px;
    vertical-align:top;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.pagination-container .pagination .input__inner{
    text-align:center
}
.pagination-container .pagination .input__suffix{
    right:0;
    -webkit-transform:scale(.8);
    transform:scale(.8)
}
.pagination-container .pagination .select .input{
    width:100px;
    margin:0 5px
}
.pagination-container .pagination .select .input .input__inner{
    padding-right:25px;
    border-radius:3px;
    height:28px
}
.pagination-container .pagination button{
    border:none;
    padding:0 6px;
    background:0 0
}
.pagination-container .pagination button:focus{
    outline:0
}
.pagination-container .pagination button:hover{
    color:#262729
}
.pagination-container .pagination button.disabled{
    color:#b4bccc;
    background-color:#fff;
    cursor:not-allowed
}
.pagination-container .pagination .btn-next,.pagination-container .pagination .btn-prev{
    background:center center no-repeat;
    background-size:16px;
    cursor:pointer;
    margin: 0 5px;
    background-color: #f4f4f5;
    color: #606266;
    border-radius: 2px;
}
.pagination-container .pagination .btn-next .icon,.pagination-container .pagination .btn-prev .icon{
    display:block;
    font-size:12px
}
.pagination-container .pagination .btn-prev{
    padding-right:12px
}
.pagination-container .pagination .btn-next{
    padding-left:12px
}
.pagination-container .pagination--small .btn-next,.pagination-container .pagination--small .btn-prev,.pagination-container .pagination--small .pager li,.pagination-container .pagination--small .pager li:last-child{
    border-color:transparent;
    font-size:12px;
    line-height:22px;
    height:22px;
    min-width:22px
}
.pagination-container .pagination--small .arrow.disabled{
    visibility:hidden
}
.pagination-container .pagination__total{
    margin-right:10px;
    font-weight:400;
    color:#5a5e66
}
.pagination-container .pagination__jump{
    margin-left:24px;
    font-weight:400;
    color:#5a5e66
}
.pagination-container .pagination__jump .input__inner{
    padding:0 3px
}
.pagination-container .pagination__rightwrapper{
    float:right
}
.pagination-container .pagination__editor{
    line-height:18px;
    padding:0 2px;
    height:28px;
    text-align:center;
    margin:0 2px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:3px;
    -moz-appearance:textfield
}
.pagination-container .pagination__editor.input{
    width:50px;
    display: inline-block
}
.pagination-container .pagination__editor.input .input__inner{
    height:24px
}
.pagination-container .pagination__editor .input__inner::-webkit-inner-spin-button,.pagination-container .pagination__editor .input__inner::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0
}
.pagination-container .pager{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    list-style:none;
    display:inline-block;
    vertical-align:top;
    font-size:0;
    padding:0;
    margin:0
}
.pagination-container .pager .icon-more::before{
    vertical-align:-4px
}
.pagination-container .pager li{
    padding:0 4px;
    vertical-align:top;
    display:inline-block;
    font-size:13px;
    min-width: 30px;
    height:28px;
    line-height:28px;
    cursor:pointer;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    margin: 0 5px;
    background-color: #f4f4f5;
    color: #606266;
    border-radius: 2px;
}
.pagination-container .pager li.btn-quicknext,.pagination-container .pager li.btn-quickprev{
    line-height:28px;
    color:#2d2f33
}
.pagination-container .pager li.btn-quickprev:hover{
    cursor:pointer
}
.pagination-container .pager li.btn-quicknext:hover{
    cursor:pointer
}
.pagination-container .pager li.active+li{
    border-left:0
}
.pagination-container .pager li:hover{
    color:#262729
}
.pagination-container .pager li.active{
    background-color: #1890ff;
    color: #fff;
    cursor:default
}
