html,body {
    margin: 0;
    padding: 0;
}
.layout {
    background: #f0f2f5;
}
.header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    background: #fff;
}
.header-box {
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}
.header .logo {
    display: flex;
    align-items: center;
    min-width: 50px;
}
.header .logo img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.header .logo h1 {
    font-size: 20px;
    margin: 0 0 0 12px;
}
.header .topic {
    flex: 1;
    margin-left: 50px;
    display: flex;
}
.header .topic>div {
    padding: 0 15px;
    font-size: 16px;
}
.header .topic>div:hover {
    color: #13c2c2;
    cursor: pointer;
}
.header .topic>div.active {
    color: #13c2c2;
}
.header .avatar {

}
.container {
    min-height: calc(100vh - 200px);
    padding: 20px 50px 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
}
.container .content {
    padding: 30px 20px;
    background-color: #ffffff;
    flex: 1;
    border-radius: 5px;
}
.container .content .article{
    max-width: 900px;
    margin: 0 auto;
}
.container .information {
    display: flex;
}
.footer {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    padding: 24px 16px;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .header .logo h1{
        display: none;
    }
}