{{ define "content" }}

<div class="layout-container-exception">
    <div class="exception-page">
        <div class="img">
            <img src="/static/images/500.svg" alt="">
        </div>
        <div class="content">
            <h1>500</h1>
            <div class="desc">抱歉，服务器出错了</div>
            <div class="action"></div>
        </div>
    </div>
</div>

{{ end }}