{{ define "content" }}

<div class="layout-container-content">
    {{ range .articles}}
        <div>{{ .Title }}</div>
        <div>
            <div>{{ .PublishedAt }}</div>
{{/*            <div>{{ .Tags }}</div>*/}}
            <div>{{ .View }}</div>
        </div>
        <div>{{ .Description }}</div>
    {{ end }}
    {{ .total }}
    {{ .page }}
    {{ .pageSize }}
</div>
{{ end }}